:root {
  --light-light: #8bbde9;
  --light-dark: #f6cbaf;
  --dark-light: #cbc7b7;
  --dark-dark: #6a4ca8;
  --correct-light: #90EE90;
  --correct-dark: #154734;
  --incorrect-light: #FF7F7F;
  --incorrect-dark: #8B0000;      

  /* Intentions */
  --primary: var(--light-light);
  --secondary: var(--light-dark);
}

.cool {
  --primary: var(--light-light);
  
  --secondary: var(--light-dark);
}

.warm {
  --primary: var(--dark-light);
  --secondary: var(--dark-dark);
}
.correct {
  --primary: var(--correct-dark);
  --secondary: var(--correct-light);
}
.incorrect {
  --primary: var(--incorrect-dark);
  --secondary: var(--incorrect-light);
  color: black;
}

.hero {
  background-color: var(--primary);
  font-size: 40px;
  text-align: center;
  margin: 0rem;
  border: 2px solid;
  border-radius: 10px;
  border-color: var(--secondary)
}

body {
  background-color: var(--secondary);
  height: 200vh;
}
.modebtn {
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
  border-color: var(--secondary)
  
}
.tab{
  font-size: 40px;
  text-align: center;
  margin: 5rem;
  border: 3px solid;
  border-radius: 10px;
  background-color: var(--secondary);
  border-color: var(--primary);
  cursor: pointer;
}
.btnA {
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
  border-color: var(--secondary)
}
.btnB {
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
  border-color: var(--secondary)
}
.btnC {
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
  border-color: var(--secondary)
}
.btnD {
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
  border-color: var(--secondary)
}
.selected{
  background-color: black;
  color: white;
}